<div id="admin">
  <div class="container content_box clearfix">
  
  <!-- id -->
  <p>edit.html.erb</p>

  <%= render 'admin/header', active: 'campaigns' %>

  <div id="admin_campaigns">
    <%= render 'form' %>
  </div>
  </div>
</div>
